.row.proximos-viajes
    each viaje in viajes
        .col-md-6.col-lg-4.mb-4
            .card
                img(src=`img/destinos_${viaje.imagen}.jpg`, class="img-fluid")
                .card-body
                    h2= viaje.titulo
                    p 
                        i.fas.fa-calendar-alt.fa-2x
                        | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                    p 
                        i.fas.fa-dollar-sign.fa-2x
                        | #{viaje.precio}
                    p= viaje.descripcion.substr(0,100)
                    a(href=`viaje/${viaje.id}`, class="btn btn-success btn-block") Más información